
spring:
  datasource:
    url: jdbc:h2:mem:warehouse
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081